language: android
jdk: oraclejdk8
android:
  components:
    - tools
    - build-tools-26.0.2
    - android-25
    - extra-android-support
    - extra-android-m2repository
licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'
