<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byagowi.persiancalendar"
    android:versionCode="8"
    android:versionName="1.8" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".PersianCalendarActivity"
            android:label="Persian Calendar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PersianCalendarPreferenceActivity"
            android:label="@string/app_name">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
           </intent-filter>
      </activity>

        <receiver
            android:name=".PersianCalendarWidget4x1"
            android:icon="@drawable/icon"
            android:label="Persian Calendar" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/persiancalendar_provider4x1" />
        </receiver>
        <receiver
            android:name=".PersianCalendarWidget1x1"
            android:icon="@drawable/icon"
            android:label="Persian Calendar (Mini)" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/persiancalendar_provider1x1" />
        </receiver>
    </application>

</manifest>