name: Android CI

permissions:
  contents: read

on: [push]

jobs:
  build-and-test-jvm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build debug APK and run JVM tests
        run: |
          ./gradlew assembleMinApi17Debug lintMinApi17Debug testMinApi17DebugUnitTest --stacktrace
          ./gradlew assembleMinApi21Debug lintMinApi21Debug testMinApi21DebugUnitTest --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: PersianCalendar
          path: PersianCalendar/build/outputs/apk/**/*.apk

      - name: Archive reports for failed build
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: "*/build/reports"

  test-android:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [29]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Run Android tests
        uses: reactivecircus/android-emulator-runner@76c2bf6f95ed6458fd659a1bdb680a0f8df232dc
        with:
          api-level: ${{ matrix.api-level }}
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          arch: x86
          script: ./gradlew connectedMinApi17DebugAndroidTest --stacktrace

      - name: Upload results
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: instrumentation-test-results ${{ matrix.api-level }}
          path: ./**/build/reports/androidTests/connected/**
