name: Gradle wrapper update

on:
  workflow_dispatch: # to run the workflow manually if needed
  schedule:
    - cron: '0 12 * * *'

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Upgrade gradle wrapper
        run: |
          ./gradlew wrapper --gradle-version latest
          ./gradlew wrapper --gradle-version latest

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38
